.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.fromWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  
}

.imputGroup{
  display: flex;
  flex-direction: column;

}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo{
  height: 80px;
  margin-bottom: 0px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.joinBtn{
  background: linear-gradient(to right, #77189a 50%, #096fdb 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.4s ease-out;
  width: 100px;
  margin-left: auto;
  
}

.joinBtn:hover{
  background-position: 0 0;
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createNewbtn{
  color: #096fdb;
  text-decoration: none;
  border-bottom: 1px solid #096fdb;
}

.createNewbtn:hover{
  color: #77189a;
  border-bottom: 1px solid #77189a;
}

.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  
}

.aside{
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner{
  flex: 1;
}

.clientList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: bold; 
  margin: 10px;
}

.username{
  margin-top: 10px;
}

.logo{
  border-bottom:1px solid #424242 ;
  padding-bottom: 0px;
}

.logoImage{
  height: 60px;
}

.leaveBtn{
  margin-top: 20px;
  background:#d21313;
  color: #fff;

}

.leaveBtn:hover{
    background: #aa1313;
}

.CodeMirror{
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}